examples/examples.json
[{"id":"cc08795d5702fcfe","type":"tab","label":"examples","disabled":false,"info":"","env":[]},{"id":"b01473816e373a9b","type":"group","z":"cc08795d5702fcfe","name":"Accumulate","style":{"label":true},"nodes":["3cc757cdef357b8a","98110506cf55a689","935b0fc44d9aeb57","e1ae88f33f7b3eee","96d93a3d9d2f45fa"],"x":114,"y":99,"w":532,"h":202},{"id":"4c3bfca9d1083dd4","type":"group","z":"cc08795d5702fcfe","name":"Add","style":{"label":true},"nodes":["d8bacf8519709372","cf605f0475969c3a","8067bf056f82d586","b0d0c0a82f4dd64d","14f09ec4d523b0bf"],"x":114,"y":339,"w":472,"h":142},{"id":"e511ff1dcd90f8d8","type":"group","z":"cc08795d5702fcfe","name":"Analog Switch","style":{"label":true},"nodes":["36f09a5fad09508b","ae1a2eb9b3f02926","d5e104fdaa359c5b","0921ea6d0614f86e","8963cfcc4b281324","aa09e1f110aea16f","7005f72d78bcc2f5","613e2b6e8040df6b"],"x":114,"y":519,"w":592,"h":242},{"id":"4917c1357b9a3c04","type":"group","z":"cc08795d5702fcfe","name":"and","style":{"label":true},"nodes":["3a895df1dba19ebd","cbac7e23c8136d45","4ccd5263fa019452","a3d0198a3e05b6d1","e8e097e7ac70a6cb"],"x":114,"y":819,"w":552,"h":142},{"id":"c5eeb7f97a46d75e","type":"group","z":"cc08795d5702fcfe","name":"Average","style":{"label":true},"nodes":["37eb9dff770b4bc2","4bd670e0b45ce303","238367b163a4c628","8bfae8c765d5d5d8"],"x":114,"y":1019,"w":572,"h":122},{"id":"2422add9402041d6","type":"group","z":"cc08795d5702fcfe","name":"Boolean Switch","style":{"label":true},"nodes":["a5570f1f3a35c42f","b9a64c4c8e548a55","847e8fc581516426","832d296fb33b7959","ae3a3b3a35030115","78a6b99ad3a6acfd","41b10ea331f02d86","7119e9f3bea9d3f4"],"x":114,"y":1199,"w":592,"h":242},{"id":"0270ab45754a82cf","type":"group","z":"cc08795d5702fcfe","name":"Cache","style":{"label":true},"nodes":["3144119011ae811c","b86f174846b7d4da","6d60d7868e5c26f8","88f779fdae46b4d3","092a7dcfbdc57d4c","055f474c050987aa"],"x":114,"y":1499,"w":532,"h":182},{"id":"26bc1a4bf2a4eb89","type":"group","z":"cc08795d5702fcfe","name":"This node is not doing the expected actions. Do not use.","style":{"label":true},"nodes":["ea2abca7b4e13d0e","44085e5ebcd24a6d"],"x":114,"y":1739,"w":532,"h":82},{"id":"cc0840d70f15cae5","type":"group","z":"cc08795d5702fcfe","name":"Changeover (for use with Tstat)","style":{"label":true},"nodes":["d6955cb056a6221f","f5e9b4cce1ab3c5c","eaaf6609eca56fca","94876b5f41fa5ace"],"x":114,"y":1879,"w":572,"h":142},{"id":"82f2ecd9d17ec278","type":"group","z":"cc08795d5702fcfe","name":"Comment","style":{"label":true},"nodes":["51f0f2f6de23d34c","292ccdd9b4a79c0a","db846ebb7f98bfd9"],"x":114,"y":2079,"w":492,"h":142},{"id":"96cb0376c9dc60fe","type":"group","z":"cc08795d5702fcfe","name":"Compare","style":{"label":true},"nodes":["bf66f1a4e0fa928c","4c6c3449cde3bec2","d10fcd941c0fedd0","d6cca2cdfd42ba4e","2783708694b6d2d8","f404249c9f03bb09"],"x":114,"y":2291.5,"w":572,"h":169.5},{"id":"bb615b7b8185eed2","type":"group","z":"cc08795d5702fcfe","name":"Convert","style":{"label":true},"nodes":["144fd23473c90450","6acf17e2a084b292","20dffc0cb8fe4623","67ab187d09eee930","799336884798b25b","231cd7cfdf86245e","601c2061ced0c209","b8c75da1d39ebf90"],"x":114,"y":2499,"w":632,"h":262},{"id":"c5e26fdcfeabd0f2","type":"group","z":"cc08795d5702fcfe","name":"Count + Edge","style":{"label":true},"nodes":["2aafb1276af34a38","5b23e35ac043597b","9cba0d911f2cb162","05c8223faec12bbd","0b26510ade9f4ccc"],"x":114,"y":2859,"w":592,"h":142},{"id":"80c3c761d6dcfe5e","type":"group","z":"cc08795d5702fcfe","name":"Delay (can debounce)","style":{"label":true},"nodes":["3a3a2b8612d4d8c8","7b5b7dc4fb630bcb","13a1b2750f10406a","a99eb03130f8050e"],"x":114,"y":3039,"w":562,"h":122},{"id":"d782ecd9db3a6586","type":"group","z":"cc08795d5702fcfe","name":"Divide","style":{"label":true},"nodes":["04656ee5721965e1","c98e48edc52b73e4","6842b6dd41562718","bf11eea807757b1e","4909966a200721dc"],"x":114,"y":3219,"w":552,"h":142},{"id":"3cc757cdef357b8a","type":"accumulate-block","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"","mode":"true","x":520,"y":140,"wires":[[]]},{"id":"98110506cf55a689","type":"inject","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":140,"wires":[["3cc757cdef357b8a","e1ae88f33f7b3eee","96d93a3d9d2f45fa"]]},{"id":"935b0fc44d9aeb57","type":"inject","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":260,"wires":[["3cc757cdef357b8a","e1ae88f33f7b3eee","96d93a3d9d2f45fa"]]},{"id":"e1ae88f33f7b3eee","type":"accumulate-block","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"","mode":"false","x":530,"y":200,"wires":[[]]},{"id":"96d93a3d9d2f45fa","type":"accumulate-block","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"","mode":"flows","x":530,"y":260,"wires":[[]]},{"id":"d8bacf8519709372","type":"add-block","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","slots":2,"x":500,"y":380,"wires":[[]]},{"id":"cf605f0475969c3a","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","contextPropertyName":"in1","removeLabel":false,"x":350,"y":380,"wires":[["d8bacf8519709372"]]},{"id":"8067bf056f82d586","type":"inject","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":380,"wires":[["cf605f0475969c3a"]]},{"id":"b0d0c0a82f4dd64d","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","contextPropertyName":"in2","removeLabel":false,"x":350,"y":440,"wires":[["d8bacf8519709372"]]},{"id":"14f09ec4d523b0bf","type":"inject","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":440,"wires":[["b0d0c0a82f4dd64d"]]},{"id":"36f09a5fad09508b","type":"analog-switch-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","slots":2,"x":590,"y":660,"wires":[[]]},{"id":"ae1a2eb9b3f02926","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","contextPropertyName":"in1","removeLabel":false,"x":390,"y":660,"wires":[["36f09a5fad09508b"]]},{"id":"d5e104fdaa359c5b","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":660,"wires":[["ae1a2eb9b3f02926"]]},{"id":"0921ea6d0614f86e","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","contextPropertyName":"in2","removeLabel":false,"x":390,"y":720,"wires":[["36f09a5fad09508b"]]},{"id":"8963cfcc4b281324","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":210,"y":720,"wires":[["0921ea6d0614f86e"]]},{"id":"aa09e1f110aea16f","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"Switch 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":220,"y":560,"wires":[["613e2b6e8040df6b"]]},{"id":"7005f72d78bcc2f5","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"Switch 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":220,"y":600,"wires":[["613e2b6e8040df6b"]]},{"id":"613e2b6e8040df6b","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","contextPropertyName":"switch","removeLabel":false,"x":400,"y":600,"wires":[["36f09a5fad09508b"]]},{"id":"3a895df1dba19ebd","type":"and-block","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"","slots":2,"x":580,"y":860,"wires":[[]]},{"id":"cbac7e23c8136d45","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"","contextPropertyName":"in1","removeLabel":false,"x":410,"y":860,"wires":[["3a895df1dba19ebd"]]},{"id":"4ccd5263fa019452","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"","contextPropertyName":"in2","removeLabel":false,"x":410,"y":920,"wires":[["3a895df1dba19ebd"]]},{"id":"a3d0198a3e05b6d1","type":"inject","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":860,"wires":[["cbac7e23c8136d45","4ccd5263fa019452"]]},{"id":"e8e097e7ac70a6cb","type":"inject","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":920,"wires":[["4ccd5263fa019452"]]},{"id":"37eb9dff770b4bc2","type":"average-block","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"","sampleSize":10,"minValid":1,"minValidType":"num","maxValid":150,"maxValidType":"num","x":590,"y":1060,"wires":[[]]},{"id":"4bd670e0b45ce303","type":"random","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"","low":"69","high":"71","inte":"false","property":"payload","x":400,"y":1060,"wires":[["37eb9dff770b4bc2","8bfae8c765d5d5d8"]]},{"id":"238367b163a4c628","type":"inject","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":1060,"wires":[["4bd670e0b45ce303"]]},{"id":"8bfae8c765d5d5d8","type":"debug","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"show","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":450,"y":1100,"wires":[]},{"id":"a5570f1f3a35c42f","type":"boolean-switch-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","x":600,"y":1340,"wires":[[],[],[]]},{"id":"b9a64c4c8e548a55","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","contextPropertyName":"inTrue","removeLabel":false,"x":400,"y":1340,"wires":[["a5570f1f3a35c42f"]]},{"id":"847e8fc581516426","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":1340,"wires":[["b9a64c4c8e548a55"]]},{"id":"832d296fb33b7959","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","contextPropertyName":"inFalse","removeLabel":false,"x":400,"y":1400,"wires":[["a5570f1f3a35c42f"]]},{"id":"ae3a3b3a35030115","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":210,"y":1400,"wires":[["832d296fb33b7959"]]},{"id":"78a6b99ad3a6acfd","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":1240,"wires":[["7119e9f3bea9d3f4"]]},{"id":"41b10ea331f02d86","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":1280,"wires":[["7119e9f3bea9d3f4"]]},{"id":"7119e9f3bea9d3f4","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","contextPropertyName":"switch","removeLabel":false,"x":400,"y":1280,"wires":[["a5570f1f3a35c42f"]]},{"id":"3144119011ae811c","type":"cache-block","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","operationMode":"payload","x":570,"y":1580,"wires":[[]]},{"id":"b86f174846b7d4da","type":"random","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","low":"69","high":"71","inte":"false","property":"payload","x":360,"y":1540,"wires":[["88f779fdae46b4d3"]]},{"id":"6d60d7868e5c26f8","type":"inject","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":1540,"wires":[["b86f174846b7d4da"]]},{"id":"88f779fdae46b4d3","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","contextPropertyName":"update","removeLabel":false,"x":400,"y":1580,"wires":[["3144119011ae811c"]]},{"id":"092a7dcfbdc57d4c","type":"inject","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":1640,"wires":[["055f474c050987aa"]]},{"id":"055f474c050987aa","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","contextPropertyName":"execute","removeLabel":false,"x":410,"y":1640,"wires":[["3144119011ae811c"]]},{"id":"ea2abca7b4e13d0e","type":"call-status-block","z":"cc08795d5702fcfe","g":"26bc1a4bf2a4eb89","name":"","statusTimeout":30,"clearDelay":10,"normalOff":false,"normalOn":true,"runLostStatus":true,"noStatusOnRun":true,"runLostStatusMessage":"Status lost during run","noStatusOnRunMessage":"No status received during run","x":560,"y":1780,"wires":[[],[]]},{"id":"44085e5ebcd24a6d","type":"inject","z":"cc08795d5702fcfe","g":"26bc1a4bf2a4eb89","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1780,"wires":[["ea2abca7b4e13d0e"]]},{"id":"d6955cb056a6221f","type":"changeover-block","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"","algorithm":"single","setpoint":"70","setpointType":"num","deadband":"2","heatingSetpoint":"68","heatingSetpointType":"num","coolingSetpoint":"74","coolingSetpointType":"num","extent":"2","swapTime":"60","swapTimeType":"num","minTempSetpoint":"55","minTempSetpointType":"num","maxTempSetpoint":"90","maxTempSetpointType":"num","initWindow":"10","operationMode":"auto","x":410,"y":1960,"wires":[["eaaf6609eca56fca"],["94876b5f41fa5ace"]]},{"id":"f5e9b4cce1ab3c5c","type":"inject","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"Inject Flow","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"65","payloadType":"num","x":230,"y":1960,"wires":[["d6955cb056a6221f"]]},{"id":"eaaf6609eca56fca","type":"debug","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"isHeating","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":1920,"wires":[]},{"id":"94876b5f41fa5ace","type":"debug","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":1980,"wires":[]},{"id":"51f0f2f6de23d34c","type":"comment-block","z":"cc08795d5702fcfe","g":"82f2ecd9d17ec278","name":"Comment To Status","comment":"No comment","statusDisplay":"default","x":230,"y":2120,"wires":[[]]},{"id":"292ccdd9b4a79c0a","type":"comment-block","z":"cc08795d5702fcfe","g":"82f2ecd9d17ec278","name":"Name To Status","comment":"No comment","statusDisplay":"name","x":400,"y":2180,"wires":[[]]},{"id":"db846ebb7f98bfd9","type":"comment-block","z":"cc08795d5702fcfe","g":"82f2ecd9d17ec278","name":"No Status","comment":"No comment","statusDisplay":"none","x":520,"y":2120,"wires":[[]]},{"id":"bf66f1a4e0fa928c","type":"inject","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"Setpoint","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":320,"y":2340,"wires":[["2783708694b6d2d8"]]},{"id":"4c6c3449cde3bec2","type":"compare-block","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"compare","setpoint":"59","x":600,"y":2340,"wires":[[],[],[]]},{"id":"d10fcd941c0fedd0","type":"random","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"","low":"0","high":"100","inte":"false","property":"payload","x":400,"y":2420,"wires":[["4c6c3449cde3bec2"]]},{"id":"d6cca2cdfd42ba4e","type":"inject","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"","props":[],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":2420,"wires":[["d10fcd941c0fedd0"]]},{"id":"2783708694b6d2d8","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"","contextPropertyName":"setpoint","removeLabel":false,"x":425,"y":2340,"wires":[["4c6c3449cde3bec2"]],"l":false},{"id":"f404249c9f03bb09","type":"inject","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"Context Included","props":[{"p":"payload"},{"p":"context","v":"setpoint","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":340,"y":2380,"wires":[["4c6c3449cde3bec2"]]},{"id":"144fd23473c90450","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"F to C","x":380,"y":2540,"wires":[["67ab187d09eee930"]]},{"id":"6acf17e2a084b292","type":"inject","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"32","payloadType":"num","x":210,"y":2540,"wires":[["144fd23473c90450"]]},{"id":"20dffc0cb8fe4623","type":"inject","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"212","payloadType":"num","x":210,"y":2600,"wires":[["144fd23473c90450","231cd7cfdf86245e","601c2061ced0c209"]]},{"id":"67ab187d09eee930","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"C to F","x":440,"y":2600,"wires":[["799336884798b25b"]]},{"id":"799336884798b25b","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"F to K","x":620,"y":2540,"wires":[[]]},{"id":"231cd7cfdf86245e","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"% to decimal","x":420,"y":2660,"wires":[[]]},{"id":"601c2061ced0c209","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"psi to Pa","x":410,"y":2720,"wires":[["b8c75da1d39ebf90"]]},{"id":"b8c75da1d39ebf90","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"Pa to bar","x":630,"y":2720,"wires":[[]]},{"id":"2aafb1276af34a38","type":"count-block","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","x":630,"y":2900,"wires":[[]]},{"id":"5b23e35ac043597b","type":"tick-tock-block","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","period":"2","x":420,"y":2900,"wires":[["2aafb1276af34a38","0b26510ade9f4ccc"]]},{"id":"9cba0d911f2cb162","type":"inject","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":210,"y":2900,"wires":[["5b23e35ac043597b"]]},{"id":"05c8223faec12bbd","type":"inject","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":210,"y":2940,"wires":[["5b23e35ac043597b"]]},{"id":"0b26510ade9f4ccc","type":"edge-block","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","algorithm":"true-to-false","x":630,"y":2960,"wires":[[]]},{"id":"3a3a2b8612d4d8c8","type":"delay-block","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"","delayOn":"5","delayOnUnits":"seconds","delayOnType":"num","delayOff":"2","delayOffUnits":"seconds","delayOffType":"num","x":410,"y":3080,"wires":[["a99eb03130f8050e"]]},{"id":"7b5b7dc4fb630bcb","type":"inject","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":3080,"wires":[["3a3a2b8612d4d8c8"]]},{"id":"13a1b2750f10406a","type":"inject","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":3120,"wires":[["3a3a2b8612d4d8c8"]]},{"id":"a99eb03130f8050e","type":"accumulate-block","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"","mode":"true","x":570,"y":3080,"wires":[[]]},{"id":"04656ee5721965e1","type":"divide-block","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","slots":2,"x":580,"y":3260,"wires":[[]]},{"id":"c98e48edc52b73e4","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","contextPropertyName":"in1","removeLabel":false,"x":425,"y":3260,"wires":[["04656ee5721965e1"]],"l":false},{"id":"6842b6dd41562718","type":"inject","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":3320,"wires":[["bf11eea807757b1e"]]},{"id":"bf11eea807757b1e","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","contextPropertyName":"in2","removeLabel":false,"x":425,"y":3320,"wires":[["04656ee5721965e1"]],"l":false},{"id":"4909966a200721dc","type":"inject","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":210,"y":3260,"wires":[["c98e48edc52b73e4"]]},{"id":"0535c0cc991b49fd","type":"global-config","env":[],"modules":{"@bldgblocks/node-red-contrib-control":"0.1.16","node-red-node-random":"0.4.1"}}]