examples/examples.json
[{"id":"cc08795d5702fcfe","type":"tab","label":"examples","disabled":false,"info":"","env":[]},{"id":"b01473816e373a9b","type":"group","z":"cc08795d5702fcfe","name":"Accumulate","style":{"label":true},"nodes":["3cc757cdef357b8a","98110506cf55a689","935b0fc44d9aeb57","e1ae88f33f7b3eee","96d93a3d9d2f45fa"],"x":114,"y":99,"w":532,"h":202},{"id":"4c3bfca9d1083dd4","type":"group","z":"cc08795d5702fcfe","name":"Add","style":{"label":true},"nodes":["d8bacf8519709372","cf605f0475969c3a","8067bf056f82d586","b0d0c0a82f4dd64d","14f09ec4d523b0bf"],"x":114,"y":339,"w":472,"h":142},{"id":"e511ff1dcd90f8d8","type":"group","z":"cc08795d5702fcfe","name":"Analog Switch","style":{"label":true},"nodes":["36f09a5fad09508b","ae1a2eb9b3f02926","d5e104fdaa359c5b","0921ea6d0614f86e","8963cfcc4b281324","aa09e1f110aea16f","7005f72d78bcc2f5","613e2b6e8040df6b"],"x":114,"y":519,"w":592,"h":242},{"id":"4917c1357b9a3c04","type":"group","z":"cc08795d5702fcfe","name":"and","style":{"label":true},"nodes":["3a895df1dba19ebd","cbac7e23c8136d45","4ccd5263fa019452","a3d0198a3e05b6d1","e8e097e7ac70a6cb"],"x":114,"y":819,"w":552,"h":142},{"id":"c5eeb7f97a46d75e","type":"group","z":"cc08795d5702fcfe","name":"Average","style":{"label":true},"nodes":["37eb9dff770b4bc2","4bd670e0b45ce303","238367b163a4c628","8bfae8c765d5d5d8"],"x":114,"y":1019,"w":572,"h":122},{"id":"2422add9402041d6","type":"group","z":"cc08795d5702fcfe","name":"Boolean Switch","style":{"label":true},"nodes":["a5570f1f3a35c42f","b9a64c4c8e548a55","847e8fc581516426","832d296fb33b7959","ae3a3b3a35030115","78a6b99ad3a6acfd","41b10ea331f02d86","7119e9f3bea9d3f4"],"x":114,"y":1199,"w":592,"h":242},{"id":"0270ab45754a82cf","type":"group","z":"cc08795d5702fcfe","name":"Cache","style":{"label":true},"nodes":["3144119011ae811c","b86f174846b7d4da","6d60d7868e5c26f8","88f779fdae46b4d3","092a7dcfbdc57d4c","055f474c050987aa"],"x":114,"y":1499,"w":532,"h":182},{"id":"26bc1a4bf2a4eb89","type":"group","z":"cc08795d5702fcfe","name":"This node is not doing the expected actions. Do not use.","style":{"label":true},"nodes":["ea2abca7b4e13d0e","44085e5ebcd24a6d"],"x":114,"y":1739,"w":532,"h":82},{"id":"cc0840d70f15cae5","type":"group","z":"cc08795d5702fcfe","name":"Changeover (for use with Tstat)","style":{"label":true},"nodes":["f5e9b4cce1ab3c5c","eaaf6609eca56fca","94876b5f41fa5ace","7d079d6e73f197ca"],"x":114,"y":1859,"w":572,"h":142},{"id":"82f2ecd9d17ec278","type":"group","z":"cc08795d5702fcfe","name":"Comment","style":{"label":true},"nodes":["51f0f2f6de23d34c","292ccdd9b4a79c0a","db846ebb7f98bfd9"],"x":114,"y":2079,"w":492,"h":142},{"id":"96cb0376c9dc60fe","type":"group","z":"cc08795d5702fcfe","name":"Compare","style":{"label":true},"nodes":["bf66f1a4e0fa928c","4c6c3449cde3bec2","d10fcd941c0fedd0","d6cca2cdfd42ba4e","2783708694b6d2d8","f404249c9f03bb09"],"x":114,"y":2291.5,"w":572,"h":169.5},{"id":"bb615b7b8185eed2","type":"group","z":"cc08795d5702fcfe","name":"Convert","style":{"label":true},"nodes":["144fd23473c90450","6acf17e2a084b292","20dffc0cb8fe4623","67ab187d09eee930","799336884798b25b","231cd7cfdf86245e","601c2061ced0c209","b8c75da1d39ebf90"],"x":114,"y":2499,"w":632,"h":262},{"id":"c5e26fdcfeabd0f2","type":"group","z":"cc08795d5702fcfe","name":"Count + Edge","style":{"label":true},"nodes":["2aafb1276af34a38","5b23e35ac043597b","9cba0d911f2cb162","05c8223faec12bbd","0b26510ade9f4ccc"],"x":114,"y":2859,"w":592,"h":142},{"id":"80c3c761d6dcfe5e","type":"group","z":"cc08795d5702fcfe","name":"Delay (can debounce)","style":{"label":true},"nodes":["3a3a2b8612d4d8c8","7b5b7dc4fb630bcb","13a1b2750f10406a","a99eb03130f8050e"],"x":114,"y":3039,"w":562,"h":122},{"id":"d782ecd9db3a6586","type":"group","z":"cc08795d5702fcfe","name":"Divide","style":{"label":true},"nodes":["04656ee5721965e1","c98e48edc52b73e4","6842b6dd41562718","bf11eea807757b1e","4909966a200721dc"],"x":114,"y":3219,"w":552,"h":142},{"id":"88a4a8bf85a5bd24","type":"group","z":"cc08795d5702fcfe","name":"Edge Detection","style":{"label":true},"nodes":["e0d8e92189db1a51","ba772d3ec7ede0f7","a9e47f8c3d9c1cc7","f0c994676a18e056","088c2f6e0718f8e3","9413b51ab9247ec0","bebbfe8f76a94a3e"],"x":54,"y":3419,"w":592,"h":222},{"id":"e01d03861a1e00ea","type":"group","z":"cc08795d5702fcfe","name":"Hysteresis","style":{"label":true},"nodes":["ed678a2e50e1d5ac","dc187ebc74afa9cb","6452211c3294d06d"],"x":54,"y":3711.5,"w":552,"h":97},{"id":"2bbfdc104ec09a8a","type":"group","z":"cc08795d5702fcfe","name":"Interpolate","style":{"label":true},"nodes":["19c31a767682f71d","eacb8ab7cd0ce935","258269cbace1063e","494d3de2e837dd0f","05e0d8d6acdd4c15"],"x":54,"y":3859,"w":612,"h":142},{"id":"3ae83c4686d694e3","type":"group","z":"cc08795d5702fcfe","name":"Load Sequence","style":{"label":true},"nodes":["fb2098881fd59ef0","1734f0c51bd8c8e6","1dd1278fb4263687","97af421ae0c6b514","394068c891496caa","714e45da647e47e6","bcb3f1f7eb96783d","d901c928e0a109d4"],"x":54,"y":4059,"w":738,"h":337},{"id":"5ee86bdec31ba7da","type":"group","z":"cc08795d5702fcfe","name":"MinMax","style":{"label":true},"nodes":["edc43051e2e63205","42527e03333968c8","8776feff956f1741","fe5292c4d06a4f21","e91d6a156ba78fb3","983dcbd933906ca4","89a3a0c99996c463","89b350da156d8737","3fcfc6f96163068e"],"x":54,"y":4459,"w":712,"h":202},{"id":"02b010e42b1eaf17","type":"group","z":"cc08795d5702fcfe","name":"Modulo","style":{"label":true},"nodes":["191f53fec161ceb1","82733cebea8af682","a3e6905f73f82fb6","98e57faf59504495","57204029a38d9249"],"x":94,"y":4699,"w":692,"h":142},{"id":"4be94eb1e42284af","type":"group","z":"cc08795d5702fcfe","name":"Multiply","style":{"label":true},"nodes":["9d57b08384f760d2","fe7df85a7fb8eed4","2fb1bc3ac7b5b606","f4afd633e3dac50b","2f1199062aae3970"],"x":94,"y":4899,"w":692,"h":142},{"id":"0653b94fbf1ddca0","type":"group","z":"cc08795d5702fcfe","name":"Negate","style":{"label":true},"nodes":["9238acd3032e0cad","a6ad5feb39898185","c03a03f4a3186475","e828804156ccd274"],"x":94,"y":5099,"w":652,"h":122},{"id":"e3b5b484ef4961f5","type":"group","z":"cc08795d5702fcfe","name":"Priority + Nullify","style":{"label":true},"nodes":["4d5c48644cc7b4b2","ba5c3e8f063ac4a3","84c9695f6931976e","4427faf34e4d899a","0a78b639c107e14d","cbd8a0be367cf0a9","572938cf6e61fc47","5d0e53e0d288ae65","46e64907e4c8364a","b26e4183c680314e","b3636b7da36c8294"],"x":94,"y":5279,"w":572,"h":242},{"id":"d01da886a78f8278","type":"group","z":"cc08795d5702fcfe","name":"Rate Limit + Round","style":{"label":true},"nodes":["8a86aff30702c40a","ce65da16952fa13d","bfd2eec3c0a7be00","2e8845c2cbfb0c2e","f55324992f0d03be","f71d9f8baa040dc0"],"x":94,"y":5579,"w":632,"h":282},{"id":"7a3cb7f596e5c25c","type":"group","z":"cc08795d5702fcfe","name":"ScaleResetRatio","style":{"label":true},"nodes":["403e40d9eff9f74d","097756b8b9e2c2a8","6a467c809bf39ef9","903edcd131a78d72"],"x":94,"y":5919,"w":632,"h":142},{"id":"927b96bbad90fe9b","type":"group","z":"cc08795d5702fcfe","name":"Thermistor + Interpolate + Average + Units","style":{"label":true},"nodes":["d150368ad6758c14","544936670730136c","ebfb305e7c056b54","eb71e44d741283e1","d29c7ef18c2530c6","8adeacb482eaa40a"],"x":94,"y":6319,"w":812,"h":202},{"id":"0e6e1dcc6594d7d9","type":"group","z":"cc08795d5702fcfe","name":"Subtract","style":{"label":true},"nodes":["8c071e1fdc168886","fda9036c5b7262b4","91ed0cbee4b9c349","3cce0f2b1558f866","5667613ab310fb1f"],"x":94,"y":6119,"w":632,"h":142},{"id":"4b688ce748ec03de","type":"group","z":"cc08795d5702fcfe","name":"Tstat","style":{"label":true},"nodes":["768b594c45851df0","2c3a2e01a91f66ab","b9da85d1c65966f1","ad82aec3241826c4","89c634c51d31fb37","e9526f86ab37f1a9","255605c76d9d314e"],"x":94,"y":6579,"w":812,"h":182},{"id":"714e45da647e47e6","type":"group","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"Proof delay","style":{"label":true},"nodes":["a887a23738b26dcb","9cb2706cf2c1791f","3159c78602675b9a","18a88c94d8f19fa5"],"x":554,"y":4099,"w":212,"h":202},{"id":"3cc757cdef357b8a","type":"accumulate-block","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"","mode":"true","x":520,"y":140,"wires":[[]]},{"id":"98110506cf55a689","type":"inject","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":140,"wires":[["3cc757cdef357b8a","e1ae88f33f7b3eee","96d93a3d9d2f45fa"]]},{"id":"935b0fc44d9aeb57","type":"inject","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":260,"wires":[["3cc757cdef357b8a","e1ae88f33f7b3eee","96d93a3d9d2f45fa"]]},{"id":"e1ae88f33f7b3eee","type":"accumulate-block","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"","mode":"false","x":530,"y":200,"wires":[[]]},{"id":"96d93a3d9d2f45fa","type":"accumulate-block","z":"cc08795d5702fcfe","g":"b01473816e373a9b","name":"","mode":"flows","x":530,"y":260,"wires":[[]]},{"id":"d8bacf8519709372","type":"add-block","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","slots":2,"x":500,"y":380,"wires":[[]]},{"id":"cf605f0475969c3a","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","contextPropertyName":"in1","removeLabel":false,"x":350,"y":380,"wires":[["d8bacf8519709372"]]},{"id":"8067bf056f82d586","type":"inject","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":380,"wires":[["cf605f0475969c3a"]]},{"id":"b0d0c0a82f4dd64d","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","contextPropertyName":"in2","removeLabel":false,"x":350,"y":440,"wires":[["d8bacf8519709372"]]},{"id":"14f09ec4d523b0bf","type":"inject","z":"cc08795d5702fcfe","g":"4c3bfca9d1083dd4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":440,"wires":[["b0d0c0a82f4dd64d"]]},{"id":"36f09a5fad09508b","type":"analog-switch-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","slots":2,"x":590,"y":660,"wires":[[]]},{"id":"ae1a2eb9b3f02926","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","contextPropertyName":"in1","removeLabel":false,"x":390,"y":660,"wires":[["36f09a5fad09508b"]]},{"id":"d5e104fdaa359c5b","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":660,"wires":[["ae1a2eb9b3f02926"]]},{"id":"0921ea6d0614f86e","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","contextPropertyName":"in2","removeLabel":false,"x":390,"y":720,"wires":[["36f09a5fad09508b"]]},{"id":"8963cfcc4b281324","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":210,"y":720,"wires":[["0921ea6d0614f86e"]]},{"id":"aa09e1f110aea16f","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"Switch 1","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":220,"y":560,"wires":[["613e2b6e8040df6b"]]},{"id":"7005f72d78bcc2f5","type":"inject","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"Switch 2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":220,"y":600,"wires":[["613e2b6e8040df6b"]]},{"id":"613e2b6e8040df6b","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e511ff1dcd90f8d8","name":"","contextPropertyName":"switch","removeLabel":false,"x":400,"y":600,"wires":[["36f09a5fad09508b"]]},{"id":"3a895df1dba19ebd","type":"and-block","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"","slots":2,"x":580,"y":860,"wires":[[]]},{"id":"cbac7e23c8136d45","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"","contextPropertyName":"in1","removeLabel":false,"x":410,"y":860,"wires":[["3a895df1dba19ebd"]]},{"id":"4ccd5263fa019452","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"","contextPropertyName":"in2","removeLabel":false,"x":410,"y":920,"wires":[["3a895df1dba19ebd"]]},{"id":"a3d0198a3e05b6d1","type":"inject","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":860,"wires":[["cbac7e23c8136d45","4ccd5263fa019452"]]},{"id":"e8e097e7ac70a6cb","type":"inject","z":"cc08795d5702fcfe","g":"4917c1357b9a3c04","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":920,"wires":[["4ccd5263fa019452"]]},{"id":"37eb9dff770b4bc2","type":"average-block","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"","sampleSize":10,"minValid":1,"minValidType":"num","maxValid":150,"maxValidType":"num","x":590,"y":1060,"wires":[[]]},{"id":"4bd670e0b45ce303","type":"random","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"","low":"69","high":"71","inte":"false","property":"payload","x":400,"y":1060,"wires":[["37eb9dff770b4bc2","8bfae8c765d5d5d8"]]},{"id":"238367b163a4c628","type":"inject","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":1060,"wires":[["4bd670e0b45ce303"]]},{"id":"8bfae8c765d5d5d8","type":"debug","z":"cc08795d5702fcfe","g":"c5eeb7f97a46d75e","name":"show","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":450,"y":1100,"wires":[]},{"id":"a5570f1f3a35c42f","type":"boolean-switch-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","x":600,"y":1340,"wires":[[],[],[]]},{"id":"b9a64c4c8e548a55","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","contextPropertyName":"inTrue","removeLabel":false,"x":400,"y":1340,"wires":[["a5570f1f3a35c42f"]]},{"id":"847e8fc581516426","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":1340,"wires":[["b9a64c4c8e548a55"]]},{"id":"832d296fb33b7959","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","contextPropertyName":"inFalse","removeLabel":false,"x":400,"y":1400,"wires":[["a5570f1f3a35c42f"]]},{"id":"ae3a3b3a35030115","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":210,"y":1400,"wires":[["832d296fb33b7959"]]},{"id":"78a6b99ad3a6acfd","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":1240,"wires":[["7119e9f3bea9d3f4"]]},{"id":"41b10ea331f02d86","type":"inject","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":1280,"wires":[["7119e9f3bea9d3f4"]]},{"id":"7119e9f3bea9d3f4","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"2422add9402041d6","name":"","contextPropertyName":"switch","removeLabel":false,"x":400,"y":1280,"wires":[["a5570f1f3a35c42f"]]},{"id":"3144119011ae811c","type":"cache-block","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","operationMode":"payload","x":570,"y":1580,"wires":[[]]},{"id":"b86f174846b7d4da","type":"random","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","low":"69","high":"71","inte":"false","property":"payload","x":360,"y":1540,"wires":[["88f779fdae46b4d3"]]},{"id":"6d60d7868e5c26f8","type":"inject","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":1540,"wires":[["b86f174846b7d4da"]]},{"id":"88f779fdae46b4d3","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","contextPropertyName":"update","removeLabel":false,"x":400,"y":1580,"wires":[["3144119011ae811c"]]},{"id":"092a7dcfbdc57d4c","type":"inject","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":1640,"wires":[["055f474c050987aa"]]},{"id":"055f474c050987aa","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"0270ab45754a82cf","name":"","contextPropertyName":"execute","removeLabel":false,"x":410,"y":1640,"wires":[["3144119011ae811c"]]},{"id":"ea2abca7b4e13d0e","type":"call-status-block","z":"cc08795d5702fcfe","g":"26bc1a4bf2a4eb89","name":"","statusTimeout":30,"clearDelay":10,"normalOff":false,"normalOn":true,"runLostStatus":true,"noStatusOnRun":true,"runLostStatusMessage":"Status lost during run","noStatusOnRunMessage":"No status received during run","x":560,"y":1780,"wires":[[],[]]},{"id":"44085e5ebcd24a6d","type":"inject","z":"cc08795d5702fcfe","g":"26bc1a4bf2a4eb89","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1780,"wires":[["ea2abca7b4e13d0e"]]},{"id":"f5e9b4cce1ab3c5c","type":"inject","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"Inject Flow","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"65","payloadType":"num","x":230,"y":1940,"wires":[["7d079d6e73f197ca"]]},{"id":"eaaf6609eca56fca","type":"debug","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"isHeating","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":580,"y":1900,"wires":[]},{"id":"94876b5f41fa5ace","type":"debug","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"status","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":1960,"wires":[]},{"id":"51f0f2f6de23d34c","type":"comment-block","z":"cc08795d5702fcfe","g":"82f2ecd9d17ec278","name":"Comment To Status","comment":"No comment","statusDisplay":"default","x":230,"y":2120,"wires":[[]]},{"id":"292ccdd9b4a79c0a","type":"comment-block","z":"cc08795d5702fcfe","g":"82f2ecd9d17ec278","name":"Name To Status","comment":"No comment","statusDisplay":"name","x":400,"y":2180,"wires":[[]]},{"id":"db846ebb7f98bfd9","type":"comment-block","z":"cc08795d5702fcfe","g":"82f2ecd9d17ec278","name":"No Status","comment":"No comment","statusDisplay":"none","x":520,"y":2120,"wires":[[]]},{"id":"bf66f1a4e0fa928c","type":"inject","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"Setpoint","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":320,"y":2340,"wires":[["2783708694b6d2d8"]]},{"id":"4c6c3449cde3bec2","type":"compare-block","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"compare","setpoint":"59","x":600,"y":2340,"wires":[[],[],[]]},{"id":"d10fcd941c0fedd0","type":"random","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"","low":"0","high":"100","inte":"false","property":"payload","x":400,"y":2420,"wires":[["4c6c3449cde3bec2"]]},{"id":"d6cca2cdfd42ba4e","type":"inject","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"","props":[],"repeat":"3","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":2420,"wires":[["d10fcd941c0fedd0"]]},{"id":"2783708694b6d2d8","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"","contextPropertyName":"setpoint","removeLabel":false,"x":425,"y":2340,"wires":[["4c6c3449cde3bec2"]],"l":false},{"id":"f404249c9f03bb09","type":"inject","z":"cc08795d5702fcfe","g":"96cb0376c9dc60fe","name":"Context Included","props":[{"p":"payload"},{"p":"context","v":"setpoint","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"60","payloadType":"num","x":340,"y":2380,"wires":[["4c6c3449cde3bec2"]]},{"id":"144fd23473c90450","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"F to C","x":380,"y":2540,"wires":[["67ab187d09eee930"]]},{"id":"6acf17e2a084b292","type":"inject","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"32","payloadType":"num","x":210,"y":2540,"wires":[["144fd23473c90450"]]},{"id":"20dffc0cb8fe4623","type":"inject","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"212","payloadType":"num","x":210,"y":2600,"wires":[["144fd23473c90450","231cd7cfdf86245e","601c2061ced0c209"]]},{"id":"67ab187d09eee930","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"C to F","x":440,"y":2600,"wires":[["799336884798b25b"]]},{"id":"799336884798b25b","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"F to K","x":620,"y":2540,"wires":[[]]},{"id":"231cd7cfdf86245e","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"% to decimal","x":420,"y":2660,"wires":[[]]},{"id":"601c2061ced0c209","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"psi to Pa","x":410,"y":2720,"wires":[["b8c75da1d39ebf90"]]},{"id":"b8c75da1d39ebf90","type":"convert-block","z":"cc08795d5702fcfe","g":"bb615b7b8185eed2","name":"","conversion":"Pa to bar","x":630,"y":2720,"wires":[[]]},{"id":"2aafb1276af34a38","type":"count-block","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","x":630,"y":2900,"wires":[[]]},{"id":"5b23e35ac043597b","type":"tick-tock-block","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","period":"2","x":420,"y":2900,"wires":[["2aafb1276af34a38","0b26510ade9f4ccc"]]},{"id":"9cba0d911f2cb162","type":"inject","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":210,"y":2900,"wires":[["5b23e35ac043597b"]]},{"id":"05c8223faec12bbd","type":"inject","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":210,"y":2940,"wires":[["5b23e35ac043597b"]]},{"id":"0b26510ade9f4ccc","type":"edge-block","z":"cc08795d5702fcfe","g":"c5e26fdcfeabd0f2","name":"","algorithm":"true-to-false","x":630,"y":2960,"wires":[[]]},{"id":"3a3a2b8612d4d8c8","type":"delay-block","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"","delayOn":"5","delayOnUnits":"seconds","delayOnType":"num","delayOff":"2","delayOffUnits":"seconds","delayOffType":"num","x":410,"y":3080,"wires":[["a99eb03130f8050e"]]},{"id":"7b5b7dc4fb630bcb","type":"inject","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"true","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":3080,"wires":[["3a3a2b8612d4d8c8"]]},{"id":"13a1b2750f10406a","type":"inject","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":210,"y":3120,"wires":[["3a3a2b8612d4d8c8"]]},{"id":"a99eb03130f8050e","type":"accumulate-block","z":"cc08795d5702fcfe","g":"80c3c761d6dcfe5e","name":"","mode":"true","x":570,"y":3080,"wires":[[]]},{"id":"04656ee5721965e1","type":"divide-block","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","slots":2,"x":580,"y":3260,"wires":[[]]},{"id":"c98e48edc52b73e4","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","contextPropertyName":"in1","removeLabel":false,"x":425,"y":3260,"wires":[["04656ee5721965e1"]],"l":false},{"id":"6842b6dd41562718","type":"inject","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":210,"y":3320,"wires":[["bf11eea807757b1e"]]},{"id":"bf11eea807757b1e","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","contextPropertyName":"in2","removeLabel":false,"x":425,"y":3320,"wires":[["04656ee5721965e1"]],"l":false},{"id":"4909966a200721dc","type":"inject","z":"cc08795d5702fcfe","g":"d782ecd9db3a6586","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":210,"y":3260,"wires":[["c98e48edc52b73e4"]]},{"id":"e0d8e92189db1a51","type":"edge-block","z":"cc08795d5702fcfe","g":"88a4a8bf85a5bd24","name":"","algorithm":"true-to-false","x":570,"y":3460,"wires":[[]]},{"id":"ba772d3ec7ede0f7","type":"edge-block","z":"cc08795d5702fcfe","g":"88a4a8bf85a5bd24","name":"","algorithm":"false-to-true","x":570,"y":3520,"wires":[[]]},{"id":"a9e47f8c3d9c1cc7","type":"tick-tock-block","z":"cc08795d5702fcfe","g":"88a4a8bf85a5bd24","name":"","period":"2","x":380,"y":3460,"wires":[["e0d8e92189db1a51","ba772d3ec7ede0f7","9413b51ab9247ec0"]]},{"id":"f0c994676a18e056","type":"inject","z":"cc08795d5702fcfe","g":"88a4a8bf85a5bd24","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":210,"y":3460,"wires":[["a9e47f8c3d9c1cc7"]]},{"id":"088c2f6e0718f8e3","type":"inject","z":"cc08795d5702fcfe","g":"88a4a8bf85a5bd24","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":210,"y":3500,"wires":[["a9e47f8c3d9c1cc7"]]},{"id":"9413b51ab9247ec0","type":"frequency-block","z":"cc08795d5702fcfe","g":"88a4a8bf85a5bd24","name":"","x":560,"y":3600,"wires":[[]]},{"id":"bebbfe8f76a94a3e","type":"comment-block","z":"cc08795d5702fcfe","g":"88a4a8bf85a5bd24","name":"Useful for tracking api requests not to exceed limits","comment":"No comment","statusDisplay":"default","x":270,"y":3600,"wires":[[]]},{"id":"ed678a2e50e1d5ac","type":"hysteresis-block","z":"cc08795d5702fcfe","g":"e01d03861a1e00ea","name":"","upperLimit":50,"upperLimitType":"num","lowerLimit":30,"lowerLimitType":"num","upperLimitThreshold":"10","upperLimitThresholdType":"num","lowerLimitThreshold":"10","lowerLimitThresholdType":"num","x":520,"y":3760,"wires":[[],[],[]]},{"id":"dc187ebc74afa9cb","type":"inject","z":"cc08795d5702fcfe","g":"e01d03861a1e00ea","name":"Inject Flow","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":3760,"wires":[["6452211c3294d06d"]]},{"id":"19c31a767682f71d","type":"inject","z":"cc08795d5702fcfe","g":"2bbfdc104ec09a8a","name":"Inject Flow","props":[],"repeat":"2","crontab":"","once":true,"onceDelay":"0.2","topic":"","x":170,"y":3940,"wires":[["258269cbace1063e"]]},{"id":"eacb8ab7cd0ce935","type":"inject","z":"cc08795d5702fcfe","g":"2bbfdc104ec09a8a","name":"Inject Curve","props":[{"p":"context","v":"points","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"x\":0,\"y\":0},{\"x\":70,\"y\":50},{\"x\":100,\"y\":100}]","payloadType":"json","x":370,"y":3900,"wires":[["494d3de2e837dd0f"]]},{"id":"258269cbace1063e","type":"random","z":"cc08795d5702fcfe","g":"2bbfdc104ec09a8a","name":"","low":"10","high":"100","inte":"false","property":"payload","x":380,"y":3940,"wires":[["494d3de2e837dd0f","05e0d8d6acdd4c15"]]},{"id":"494d3de2e837dd0f","type":"interpolate-block","z":"cc08795d5702fcfe","g":"2bbfdc104ec09a8a","name":"interpolate","points":"[{\"x\":0,\"y\":0},\n{\"x\":100,\"y\":100}]","x":560,"y":3900,"wires":[[]]},{"id":"05e0d8d6acdd4c15","type":"interpolate-block","z":"cc08795d5702fcfe","g":"2bbfdc104ec09a8a","name":"Linear","points":"[{\"x\":0,\"y\":0},\n{\"x\":100,\"y\":-100}]","x":540,"y":3960,"wires":[[]]},{"id":"fb2098881fd59ef0","type":"load-sequence-block","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"load-sequence","enable":true,"hysteresis":"1","threshold1":10,"threshold2":"50","threshold3":"75","threshold4":"100","feedback1":false,"feedback2":false,"feedback3":false,"feedback4":false,"x":420,"y":4340,"wires":[["a887a23738b26dcb"],["9cb2706cf2c1791f"],["3159c78602675b9a"],["18a88c94d8f19fa5"]]},{"id":"1734f0c51bd8c8e6","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"","contextPropertyName":"feedback1","removeLabel":false,"x":150,"y":4180,"wires":[["fb2098881fd59ef0"]]},{"id":"1dd1278fb4263687","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"","contextPropertyName":"feedback2","removeLabel":false,"x":150,"y":4220,"wires":[["fb2098881fd59ef0"]]},{"id":"97af421ae0c6b514","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"","contextPropertyName":"feedback3","removeLabel":false,"x":150,"y":4260,"wires":[["fb2098881fd59ef0"]]},{"id":"394068c891496caa","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"","contextPropertyName":"feedback4","removeLabel":false,"x":170,"y":4300,"wires":[["fb2098881fd59ef0"]]},{"id":"a887a23738b26dcb","type":"delay-block","z":"cc08795d5702fcfe","g":"714e45da647e47e6","name":"","delayOn":"5000","delayOnUnits":"milliseconds","delayOnType":"num","delayOff":"5000","delayOffUnits":"milliseconds","delayOffType":"num","x":630,"y":4140,"wires":[["1734f0c51bd8c8e6"]]},{"id":"9cb2706cf2c1791f","type":"delay-block","z":"cc08795d5702fcfe","g":"714e45da647e47e6","name":"","delayOn":"5000","delayOnUnits":"milliseconds","delayOnType":"num","delayOff":"5000","delayOffUnits":"milliseconds","delayOffType":"num","x":650,"y":4180,"wires":[["1dd1278fb4263687"]]},{"id":"3159c78602675b9a","type":"delay-block","z":"cc08795d5702fcfe","g":"714e45da647e47e6","name":"","delayOn":"5000","delayOnUnits":"milliseconds","delayOnType":"num","delayOff":"5000","delayOffUnits":"milliseconds","delayOffType":"num","x":670,"y":4220,"wires":[["97af421ae0c6b514"]]},{"id":"18a88c94d8f19fa5","type":"delay-block","z":"cc08795d5702fcfe","g":"714e45da647e47e6","name":"","delayOn":"5000","delayOnUnits":"milliseconds","delayOnType":"num","delayOff":"5000","delayOffUnits":"milliseconds","delayOffType":"num","x":690,"y":4260,"wires":[["394068c891496caa"]]},{"id":"6452211c3294d06d","type":"triangle-wave-block","z":"cc08795d5702fcfe","g":"e01d03861a1e00ea","name":"","lowerLimit":0,"upperLimit":"200","period":"120","periodUnits":"seconds","x":350,"y":3760,"wires":[["ed678a2e50e1d5ac"]]},{"id":"bcb3f1f7eb96783d","type":"triangle-wave-block","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"","lowerLimit":0,"upperLimit":"200","period":"60","periodUnits":"seconds","x":190,"y":4140,"wires":[["fb2098881fd59ef0"]]},{"id":"d901c928e0a109d4","type":"inject","z":"cc08795d5702fcfe","g":"3ae83c4686d694e3","name":"Inject Flow","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":4100,"wires":[["bcb3f1f7eb96783d"]]},{"id":"edc43051e2e63205","type":"max-block","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","max":50,"maxType":"num","x":690,"y":4500,"wires":[[]]},{"id":"42527e03333968c8","type":"min-block","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","min":"0","minType":"num","x":690,"y":4560,"wires":[[]]},{"id":"8776feff956f1741","type":"minmax-block","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","min":0,"max":100,"x":680,"y":4620,"wires":[[]]},{"id":"fe5292c4d06a4f21","type":"sine-wave-block","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","lowerLimit":0,"upperLimit":"110","period":"30","periodUnits":"seconds","x":400,"y":4620,"wires":[["edc43051e2e63205","42527e03333968c8","8776feff956f1741"]]},{"id":"e91d6a156ba78fb3","type":"inject","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"Inject Flow","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":4620,"wires":[["fe5292c4d06a4f21"]]},{"id":"983dcbd933906ca4","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","contextPropertyName":"max","removeLabel":false,"x":295,"y":4500,"wires":[["edc43051e2e63205","8776feff956f1741"]],"l":false},{"id":"89a3a0c99996c463","type":"inject","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"15","payloadType":"num","x":210,"y":4560,"wires":[["89b350da156d8737"]]},{"id":"89b350da156d8737","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","contextPropertyName":"min","removeLabel":false,"x":295,"y":4560,"wires":[["42527e03333968c8","8776feff956f1741"]],"l":false},{"id":"3fcfc6f96163068e","type":"inject","z":"cc08795d5702fcfe","g":"5ee86bdec31ba7da","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":210,"y":4500,"wires":[["983dcbd933906ca4"]]},{"id":"191f53fec161ceb1","type":"modulo-block","z":"cc08795d5702fcfe","g":"02b010e42b1eaf17","name":"","slots":2,"x":690,"y":4740,"wires":[[]]},{"id":"9d57b08384f760d2","type":"multiply-block","z":"cc08795d5702fcfe","g":"4be94eb1e42284af","name":"","slots":2,"x":690,"y":4940,"wires":[[]]},{"id":"9238acd3032e0cad","type":"negate-block","z":"cc08795d5702fcfe","g":"0653b94fbf1ddca0","name":"","x":670,"y":5140,"wires":[[]]},{"id":"82733cebea8af682","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"02b010e42b1eaf17","name":"","contextPropertyName":"in1","removeLabel":false,"x":505,"y":4740,"wires":[["191f53fec161ceb1"]],"l":false},{"id":"a3e6905f73f82fb6","type":"inject","z":"cc08795d5702fcfe","g":"02b010e42b1eaf17","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":190,"y":4800,"wires":[["98e57faf59504495"]]},{"id":"98e57faf59504495","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"02b010e42b1eaf17","name":"","contextPropertyName":"in2","removeLabel":false,"x":505,"y":4800,"wires":[["191f53fec161ceb1"]],"l":false},{"id":"57204029a38d9249","type":"inject","z":"cc08795d5702fcfe","g":"02b010e42b1eaf17","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":190,"y":4740,"wires":[["82733cebea8af682"]]},{"id":"fe7df85a7fb8eed4","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4be94eb1e42284af","name":"","contextPropertyName":"in1","removeLabel":false,"x":505,"y":4940,"wires":[["9d57b08384f760d2"]],"l":false},{"id":"2fb1bc3ac7b5b606","type":"inject","z":"cc08795d5702fcfe","g":"4be94eb1e42284af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":190,"y":5000,"wires":[["f4afd633e3dac50b"]]},{"id":"f4afd633e3dac50b","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"4be94eb1e42284af","name":"","contextPropertyName":"in2","removeLabel":false,"x":505,"y":5000,"wires":[["9d57b08384f760d2"]],"l":false},{"id":"2f1199062aae3970","type":"inject","z":"cc08795d5702fcfe","g":"4be94eb1e42284af","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":190,"y":4940,"wires":[["fe7df85a7fb8eed4"]]},{"id":"a6ad5feb39898185","type":"tick-tock-block","z":"cc08795d5702fcfe","g":"0653b94fbf1ddca0","name":"","period":10,"x":460,"y":5140,"wires":[["9238acd3032e0cad"]]},{"id":"c03a03f4a3186475","type":"inject","z":"cc08795d5702fcfe","g":"0653b94fbf1ddca0","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":190,"y":5140,"wires":[["a6ad5feb39898185"]]},{"id":"e828804156ccd274","type":"inject","z":"cc08795d5702fcfe","g":"0653b94fbf1ddca0","name":"","props":[{"p":"context","v":"command","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":190,"y":5180,"wires":[["a6ad5feb39898185"]]},{"id":"4d5c48644cc7b4b2","type":"inject","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"72","payloadType":"num","x":190,"y":5360,"wires":[["46e64907e4c8364a"]]},{"id":"ba5c3e8f063ac4a3","type":"inject","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":190,"y":5400,"wires":[["b26e4183c680314e"]]},{"id":"84c9695f6931976e","type":"inject","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":190,"y":5320,"wires":[["572938cf6e61fc47"]]},{"id":"4427faf34e4d899a","type":"inject","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"145","payloadType":"num","x":190,"y":5440,"wires":[["b3636b7da36c8294"]]},{"id":"0a78b639c107e14d","type":"inject","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"Inject","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":190,"y":5480,"wires":[["5d0e53e0d288ae65"]]},{"id":"cbd8a0be367cf0a9","type":"priority-block","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"priority","x":590,"y":5320,"wires":[[]]},{"id":"572938cf6e61fc47","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","contextPropertyName":"default","x":360,"y":5320,"wires":[["cbd8a0be367cf0a9"]]},{"id":"5d0e53e0d288ae65","type":"nullify-block","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","rules":[{"property":"payload","propertyType":"msg"}],"x":350,"y":5480,"wires":[["b3636b7da36c8294"]]},{"id":"46e64907e4c8364a","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","contextPropertyName":"priority8","removeLabel":false,"x":370,"y":5360,"wires":[["cbd8a0be367cf0a9"]]},{"id":"b26e4183c680314e","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","contextPropertyName":"priority5","removeLabel":false,"x":370,"y":5400,"wires":[["cbd8a0be367cf0a9"]]},{"id":"b3636b7da36c8294","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"e3b5b484ef4961f5","name":"","contextPropertyName":"priority1","removeLabel":false,"x":370,"y":5440,"wires":[["cbd8a0be367cf0a9"]]},{"id":"8a86aff30702c40a","type":"sine-wave-block","z":"cc08795d5702fcfe","g":"d01da886a78f8278","name":"","lowerLimit":0,"upperLimit":"100","period":"60","periodUnits":"seconds","x":380,"y":5620,"wires":[["bfd2eec3c0a7be00","2e8845c2cbfb0c2e","f55324992f0d03be","f71d9f8baa040dc0"]]},{"id":"ce65da16952fa13d","type":"inject","z":"cc08795d5702fcfe","g":"d01da886a78f8278","name":"Inject Flow","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":5620,"wires":[["8a86aff30702c40a"]]},{"id":"bfd2eec3c0a7be00","type":"rate-limit-block","z":"cc08795d5702fcfe","g":"d01da886a78f8278","name":"","mode":"rate-limit","rate":"1","interval":100,"threshold":5,"x":620,"y":5620,"wires":[[]]},{"id":"2e8845c2cbfb0c2e","type":"rate-limit-block","z":"cc08795d5702fcfe","g":"d01da886a78f8278","name":"","mode":"full-value","rate":"2","interval":100,"threshold":5,"x":620,"y":5740,"wires":[[]]},{"id":"f55324992f0d03be","type":"rate-limit-block","z":"cc08795d5702fcfe","g":"d01da886a78f8278","name":"","mode":"threshold","rate":"1","interval":100,"threshold":"5","x":620,"y":5680,"wires":[[]]},{"id":"f71d9f8baa040dc0","type":"round-block","z":"cc08795d5702fcfe","g":"d01da886a78f8278","name":"","precision":"1.0","x":630,"y":5820,"wires":[[]]},{"id":"403e40d9eff9f74d","type":"scale-range-block","z":"cc08795d5702fcfe","g":"7a3cb7f596e5c25c","name":"","inMin":"2","inMax":"10","outMin":0,"outMax":"100","clamp":true,"x":630,"y":5960,"wires":[[]]},{"id":"097756b8b9e2c2a8","type":"sine-wave-block","z":"cc08795d5702fcfe","g":"7a3cb7f596e5c25c","name":"","lowerLimit":"-12","upperLimit":"12","period":"60","periodUnits":"seconds","x":380,"y":5960,"wires":[["403e40d9eff9f74d","903edcd131a78d72"]]},{"id":"6a467c809bf39ef9","type":"inject","z":"cc08795d5702fcfe","g":"7a3cb7f596e5c25c","name":"Inject Flow","props":[],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":5960,"wires":[["097756b8b9e2c2a8"]]},{"id":"903edcd131a78d72","type":"scale-range-block","z":"cc08795d5702fcfe","g":"7a3cb7f596e5c25c","name":"","inMin":"0","inMax":"10","outMin":0,"outMax":"100","clamp":false,"x":630,"y":6020,"wires":[[]]},{"id":"8c071e1fdc168886","type":"subtract-block","z":"cc08795d5702fcfe","g":"0e6e1dcc6594d7d9","name":"","slots":2,"x":630,"y":6160,"wires":[[]]},{"id":"d150368ad6758c14","type":"thermistor-block","z":"cc08795d5702fcfe","g":"927b96bbad90fe9b","name":"","R_fixed":"20000","Vsupply":5.08,"Vref":4.096,"ADC_max":32768,"x":400,"y":6360,"wires":[[],["544936670730136c"]]},{"id":"544936670730136c","type":"interpolate-block","z":"cc08795d5702fcfe","g":"927b96bbad90fe9b","name":"interpolate","points":"[\n    {\"x\": 54200, \"y\": 41},\n    {\"x\": 41758, \"y\": 50},\n    {\"x\": 32427, \"y\": 59},\n    {\"x\": 25370, \"y\": 68},\n    {\"x\": 20000, \"y\": 77},\n    {\"x\": 15856, \"y\": 86},\n    {\"x\": 12654, \"y\": 95}\n]","x":800,"y":6360,"wires":[["eb71e44d741283e1"]]},{"id":"ebfb305e7c056b54","type":"inject","z":"cc08795d5702fcfe","g":"927b96bbad90fe9b","name":"","props":[{"p":"payload"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[83,117]","payloadType":"bin","x":200,"y":6360,"wires":[["d150368ad6758c14"]]},{"id":"fda9036c5b7262b4","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"0e6e1dcc6594d7d9","name":"","contextPropertyName":"in1","removeLabel":false,"x":495,"y":6160,"wires":[["8c071e1fdc168886"]],"l":false},{"id":"91ed0cbee4b9c349","type":"inject","z":"cc08795d5702fcfe","g":"0e6e1dcc6594d7d9","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"14","payloadType":"num","x":190,"y":6220,"wires":[["3cce0f2b1558f866"]]},{"id":"3cce0f2b1558f866","type":"contextual-label-block","z":"cc08795d5702fcfe","g":"0e6e1dcc6594d7d9","name":"","contextPropertyName":"in2","removeLabel":false,"x":495,"y":6220,"wires":[["8c071e1fdc168886"]],"l":false},{"id":"5667613ab310fb1f","type":"inject","z":"cc08795d5702fcfe","g":"0e6e1dcc6594d7d9","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"28","payloadType":"num","x":190,"y":6160,"wires":[["fda9036c5b7262b4"]]},{"id":"eb71e44d741283e1","type":"average-block","z":"cc08795d5702fcfe","g":"927b96bbad90fe9b","name":"","sampleSize":10,"minValid":1,"minValidType":"num","maxValid":150,"maxValidType":"num","x":410,"y":6440,"wires":[["d29c7ef18c2530c6"]]},{"id":"d29c7ef18c2530c6","type":"units-block","z":"cc08795d5702fcfe","g":"927b96bbad90fe9b","name":"","unit":"°F","x":780,"y":6440,"wires":[[]]},{"id":"8adeacb482eaa40a","type":"comment-block","z":"cc08795d5702fcfe","g":"927b96bbad90fe9b","name":"comment","comment":"Represents reading an i2c sensor value","statusDisplay":"default","x":200,"y":6480,"wires":[[]]},{"id":"768b594c45851df0","type":"sine-wave-block","z":"cc08795d5702fcfe","g":"4b688ce748ec03de","name":"","lowerLimit":"65","upperLimit":"85","period":"60","periodUnits":"seconds","x":380,"y":6660,"wires":[["e9526f86ab37f1a9"]]},{"id":"2c3a2e01a91f66ab","type":"inject","z":"cc08795d5702fcfe","g":"4b688ce748ec03de","name":"Inject Flow","props":[],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":210,"y":6660,"wires":[["768b594c45851df0"]]},{"id":"b9da85d1c65966f1","type":"debug","z":"cc08795d5702fcfe","g":"4b688ce748ec03de","name":"isHeating","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":800,"y":6620,"wires":[]},{"id":"ad82aec3241826c4","type":"debug","z":"cc08795d5702fcfe","g":"4b688ce748ec03de","name":"above","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":690,"y":6660,"wires":[]},{"id":"89c634c51d31fb37","type":"debug","z":"cc08795d5702fcfe","g":"4b688ce748ec03de","name":"below","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"msg","x":790,"y":6720,"wires":[]},{"id":"e9526f86ab37f1a9","type":"tstat-block","z":"cc08795d5702fcfe","g":"4b688ce748ec03de","name":"","algorithm":"single","setpoint":"70","setpointType":"num","heatingSetpoint":"68","heatingSetpointType":"num","coolingSetpoint":"74","coolingSetpointType":"num","coolingOn":"74","coolingOnType":"num","coolingOff":"72","coolingOffType":"num","heatingOff":"68","heatingOffType":"num","heatingOn":"66","heatingOnType":"num","diff":"2","diffType":"num","anticipator":"0.5","anticipatorType":"num","ignoreAnticipatorCycles":"1","ignoreAnticipatorCyclesType":"num","isHeating":false,"x":530,"y":6660,"wires":[["b9da85d1c65966f1"],["ad82aec3241826c4"],["89c634c51d31fb37"]]},{"id":"255605c76d9d314e","type":"inject","z":"cc08795d5702fcfe","g":"4b688ce748ec03de","name":"isHeating","props":[{"p":"context","v":"isHeating","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":360,"y":6620,"wires":[["e9526f86ab37f1a9"]]},{"id":"7d079d6e73f197ca","type":"changeover-block","z":"cc08795d5702fcfe","g":"cc0840d70f15cae5","name":"","algorithm":"single","setpoint":"70","setpointType":"num","deadband":"2","heatingSetpoint":"68","heatingSetpointType":"num","coolingSetpoint":"74","coolingSetpointType":"num","extent":"1","swapTime":"300","swapTimeType":"num","minTempSetpoint":"55","minTempSetpointType":"num","maxTempSetpoint":"90","maxTempSetpointType":"num","initWindow":"10","operationMode":"auto","x":410,"y":1940,"wires":[["eaaf6609eca56fca"],["94876b5f41fa5ace"]]},{"id":"ab629e6673e6d548","type":"global-config","env":[],"modules":{"@bldgblocks/node-red-contrib-control":"0.1.18","node-red-node-random":"0.4.1"}}]